#pe-check-button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

#pe-check-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  background: transparent;
  padding: 4px 8px;
  color: rgb(15, 15, 15);
  font-family: Roboto, Arial, sans-serif;
  font-size: 24px;
  font-weight: 400;
  border: none;
  border-radius: 24px;
  white-space: nowrap;
  height: 36px;
  cursor: pointer;
}

.button-active {
  background-color: rgba(255, 255, 255, 0.1) !important;
}

#pe-popup {
  display: flex;
  flex-direction: column;
  position: absolute;
  background: #212121;
  color: #fff;
  font-weight: 400;
  font-family: Roboto, Arial, sans-serif;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.8);
  border: none;
  border-radius: 12px;
  padding: 18px;
  font-size: 14px;
  white-space: pre-line;
  z-index: 10000;
  min-width: 200px;
}

#pe-popup-close {
  position: absolute;
  top: 4px;
  right: 8px;
  cursor: pointer;
  font-weight: 300;
  font-size: 14px;
}

#pe-popup ul {
  display: flex;
  row-gap: 1rem;
  flex-direction: column;
  list-style: none;
  padding-left: 0;
  margin: 0;
  height: fit-content;
}

#pe-popup ul li {
  line-height: 1.5;
  display: flex;
  align-items: center;
  column-gap: 0.25rem;
  white-space: nowrap;
}

#pe-popup ul li strong {
  display: flex;
  align-items: center;
  font-weight: 500;
}

#pe-popup ul li img {
  margin-right: 0.5rem;
}

#pe-popup ul li a {
  color: #3ea6ff;
  text-decoration: none;
}

#pe-ping {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 10px;
  height: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ff0000;
  border-radius: 50%;
  box-shadow: 0 0 0 0 #ff0000;
  animation: pe-ping-anim 1.5s infinite cubic-bezier(0.66, 0, 0, 1);
  z-index: 10;
}

#pe-check-button-wrapper {
  position: relative;
}

@keyframes pe-ping-anim {
  0% {
    box-shadow: 0 0 0 0 #ff0000;
  }
  70% {
    box-shadow: 0 0 0 10px rgba(255, 235, 59, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(255, 235, 59, 0);
  }
}
